

body{background:black;color:white;}
/*为了让看得简单清晰点，CSS跟XHTML代码就不写那么复杂了*/
div,span{display:block;background-image:url(../images/bg2.png);}/*我懒所以直接div,span算了*/

.mdl{overflow:hidden;position:relative;width:70%;padding:104px 56px 56px;background:none;}
.mdl div{position:absolute;z-index:2;}
h3{position:absolute;top:20px;z-index:3;margin:0;}

   .mdl_t_l{top:0;left:0;width:56px;height:104px;background-position:-56px -104px;}
div.mdl_t_c{top:0;z-index:1;width:100%;height:104px;background-position:-112px 0;}
   .mdl_t_c span{height:104px;background-position:-224px 0;}
   .mdl_t_r{top:0;right:0;width:56px;height:104px;background-position:-110px -104px;}

div.mdl_c_l{top:0;left:0;z-index:1;width:56px;background-position:0 -104px;}
   .mdl_c_l span{width:56px;height:2000px;background-position:0 -264px;}
div.mdl_c_r{top:0;right:0;z-index:1;width:56px;background-position:right top;}
   .mdl_c_r span{width:56px;height:2000px;background-position:right -160px;}

   .mdl_b_l{bottom:0;left:0;width:56px;height:56px;background-position:-56px -208px;}
div.mdl_b_c{bottom:0;z-index:1;width:100%;height:56px;background-position:0 -266px;overflow:hidden} 
   .mdl_b_c span{bottom:0;height:56px;background-position:-112px -266px;margin-left:0px;margin-right:112px;}
   .mdl_b_r{bottom:0;right:0;width:56px;height:56px;background-position:-110px -208px;}
