/**************切勿修改，此自动生成**************/

.bgred{
	background-color:#cc386e; 
}
.bgred .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d7235e',endColorStr='#cc386e',gradientType='0');
	background:-webkit-linear-gradient(top,#d7235e,#cc386e);/*Chrome*/
	background:-moz-linear-gradient(top,#d7235e,#cc386e);/*Firefox*/
	background:-o-linear-gradient(top,#d7235e,#cc386e);/*opera*/ 
}
.bgred .title{
	color:#d7235e; 
}
.bgred .ul-gou li{
    background-image:url('../img/detail/01_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bgred .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/01_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bgred .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bgred .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  
.bgyellow{
	background-color:#e8d33c; 
}
.bgyellow .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fcdc00',endColorStr='#e8d33c',gradientType='0');
	background:-webkit-linear-gradient(top,#fcdc00,#e8d33c);/*Chrome*/
	background:-moz-linear-gradient(top,#fcdc00,#e8d33c);/*Firefox*/
	background:-o-linear-gradient(top,#fcdc00,#e8d33c);/*opera*/ 
}
.bgyellow .title{
	color:#fcdc00; 
}
.bgyellow .ul-gou li{
    background-image:url('../img/detail/02_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bgyellow .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/02_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bgyellow .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bgyellow .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  
.bgbrown{
	background-color:#d0936f; 
}
.bgbrown .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#b47b58',endColorStr='#d0936f',gradientType='0');
	background:-webkit-linear-gradient(top,#b47b58,#d0936f);/*Chrome*/
	background:-moz-linear-gradient(top,#b47b58,#d0936f);/*Firefox*/
	background:-o-linear-gradient(top,#b47b58,#d0936f);/*opera*/ 
}
.bgbrown .title{
	color:#b47b58; 
}
.bgbrown .ul-gou li{
    background-image:url('../img/detail/03_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bgbrown .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/03_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bgbrown .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bgbrown .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  
.bgblue{
	background-color:#35b9e0; 
}
.bgblue .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00baef',endColorStr='#35b9e0',gradientType='0');
	background:-webkit-linear-gradient(top,#00baef,#35b9e0);/*Chrome*/
	background:-moz-linear-gradient(top,#00baef,#35b9e0);/*Firefox*/
	background:-o-linear-gradient(top,#00baef,#35b9e0);/*opera*/ 
}
.bgblue .title{
	color:#00baef; 
}
.bgblue .ul-gou li{
    background-image:url('../img/detail/04_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bgblue .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/04_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bgblue .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bgblue .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  
.bggray{
	background-color:#8a8c8f; 
}
.bggray .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3c3837',endColorStr='#8a8c8f',gradientType='0');
	background:-webkit-linear-gradient(top,#3c3837,#8a8c8f);/*Chrome*/
	background:-moz-linear-gradient(top,#3c3837,#8a8c8f);/*Firefox*/
	background:-o-linear-gradient(top,#3c3837,#8a8c8f);/*opera*/ 
}
.bggray .title{
	color:#3c3837; 
}
.bggray .ul-gou li{
    background-image:url('../img/detail/05_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bggray .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/05_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bggray .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bggray .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  
.bggreen{
	background-color:#68cc7d; 
}
.bggreen .bg-color{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#41b063',endColorStr='#68cc7d',gradientType='0');
	background:-webkit-linear-gradient(top,#41b063,#68cc7d);/*Chrome*/
	background:-moz-linear-gradient(top,#41b063,#68cc7d);/*Firefox*/
	background:-o-linear-gradient(top,#41b063,#68cc7d);/*opera*/ 
}
.bggreen .title{
	color:#41b063; 
}
.bggreen .ul-gou li{
    background-image:url('../img/detail/08_xx/gou.png');
	background-position:0% 3px;
	/*background-size:15px 12px;*/
    background-repeat : no-repeat ;
} 
.bggreen .txt-dot{
	width:5px;
	height:5px;
	display:inline-block;
    background-image:url('../img/detail/08_xx/dot.png'); 
    background-repeat : no-repeat ;
} 
.bggreen .title-icon1{
	width:68px;height:56px;
	display:inline-block;
    background-image:url('../img/detail/icon1.png'); 
    background-repeat : no-repeat ;
} 
.bggreen .title-icon2{
	width:58px;height:57px;
	display:inline-block; 
    background-repeat : no-repeat ;
}  